/* Add all your styles here */
body{
  margin: 0px;
}
.name-highlight{
  color:orange;
  font-size:50px;
}
.half-width{
  width:40%;
  float:left;
  margin-left:8%;
  padding-left:2%;
}
.half-width img{
  width:100%;
 
}
.top-banner{
  background-image: url("images/tp-banner.png");
  background-repeat:no-repeat;
}
section{
  height:500px;
 
}
.link-button{
  text-decoration:none;
  background-image: linear-gradient(45deg,lightSalmon,tomato);
  padding:10px 20px;
  color: white;
  border-radius:5px;
  font-weight:700;
}
.heading{
  font-size:40px;
}
.half-width1{
  width:40%;
  float:left;
  margin-left:8%;
  padding-left:2%;
  
}
.half-width1 img{
  width:100%;
}